<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org/extras/dialect">
<head>

    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css"/>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
    <title layout:title-pattern="$DECORATOR_TITLE :: $CONTENT_TITLE">IoT Repo</title>

</head>
<body>
<!--/* Standard layout can be mixed with Layout Dialect */-->
<div th:replace="/menu/topFragment :: topFragment">
</div>
<div class="container">
    <div layout:fragment="content">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "fragments/header.html" at runtime.                                     -->
        <!-- ============================================================================ -->
        <h1>Static content for prototyping purposes only</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
            Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
            Phasellus et placerat elit.
        </p>
    </div>
</div>
</body>

</html>