<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/mainLayout">
<head>
    <title>Edit sensor</title>
</head>
<body>
<div layout:fragment="content">
    <form action="#" th:action="@{'/devices/'+ ${sensor.deviceId} + '/sensors/saveEdit' }" th:object="${sensor}" method="post">
        <div class="container-fluid" style="width:50%">
            <table token="submit" class="display" cellspacing="0">
                <tbody>
                <tr>
                    <td>
                        <p> Edit Device: </p>
                    </td>

                    <td>
                        <p> <input type="hidden" th:field="*{id}" /> </p>
                    </td>

                    <td>
                        <p> Name <input type="text" th:field="*{name}" /> <input type="submit" /> </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>

</body>
</html>

