<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basicLayout" >
<head>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <title>Approve users</title>
</head>
<body>
    <div layout:fragment="content" style="margin: 0px auto;">
        <div style="padding:10px">
        </div>
        <div>

            <div th:unless="${users}">
                <div th:text="#{message.users.noUsersToApprove}"></div>
            </div>

            <div th:if="${users}" class="container-fluid" style="width:50%" >
                    <div class="container-fluid" style="margin: 0px auto;">
                        <table token="example" class="table table-bordered table-striped" cellspacing="0" style="margin: 0px auto;">
                            <thead>
                            <tr>
                                <th>Approve</th>
                                <th>Email</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td>
                                    <a th:href="@{'/register/saveApprove/?id='+ ${user.id}}">
                                        <button type="button" class="btn btn-default" aria-label="Activate">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        </button>
                                    </a>
                                </td>
                                <td><p th:text="${user.login}"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

            </div>
        </div>
    </div>
</body>
</html>

