<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/mainLayout" >
    <head>
        <script language="JavaScript" src="/js/sensors/sensors.js" />

        <title>Sensors</title>
    </head>
    <body>

        <div layout:fragment="content">
            <div style="padding:10px">
            </div>
            <div>
            <table width="100%">
                <tr>
                    <td width="90%">

                        <div class="container-fluid" style="width:50%">

                            <div class="ui-widget">
                                <label>Select solution: </label>
                                <select id="combobox-solutions" th:field="${chosenSolution.id}" >
                                    <option value="">Select one...</option>
                                    <option th:each="solution : ${solutions}" th:value="${solution.id}"  th:text="${solution.name}"  ></option>
                                </select>
                            </div>
                            <div class="ui-widget">
                                <label>Select device: </label>
                                <select id="combobox-devices" th:field="${chosenDevice.id}" >
                                    <option value="">Select one...</option>
                                    <option th:each="device : ${devices}" th:value="${device.id}"  th:text="${device.name}"  ></option>
                                </select>
                            </div>

                            <table token="example" class="table table-bordered table-striped" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>Delete</th>
                                    <th>Edit</th>
                                    <th>Alerts</th>
                                    <th>Id</th>
                                    <th>Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="singleSensor : ${sensors}">
                                    <td><a th:href="@{'/devices/'+ ${sensor.deviceId} + '/sensors/delete/'+ ${singleSensor.id} }"><i class="fa fa-trash-o fa-fw"></i></a>
                                    </td>
                                    <td><a th:href="@{'/devices/'+ ${sensor.deviceId} + '/sensors/edit/'+ ${singleSensor.id} }"><i class="fa fa-pencil fa-fw"></i></a>
                                    </td>
                                    <td><a th:href="@{/sensors/alerts(solutionId = ${chosenSolution.id}, deviceId = ${singleSensor.deviceId}, sensorId = ${singleSensor.id})}"><i class="fa fa-warning fa-fw"></i></a></td>
                                    <td><p th:text="${singleSensor.id}"/></td>
                                    <td><p th:text="${singleSensor.name}"/></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                        <div th:unless="${sensor.deviceId}" style="text-align:center" >
                            <div th:text="#{message.sensors.pleaseSelectDevice}"></div>
                        </div>

                        <form action="#" th:if="${sensor.deviceId}" th:action="@{'/devices/'+ ${sensor.deviceId} + '/sensors'}" th:object="${sensor}" method="post">

                            <div class="container-fluid" style="width:50%">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Create Sensor</div>
                                    <div class="panel-body">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1">Name</span>
                                            <input type="text" class="form-control" th:field="*{name}" placeholder="Name" aria-describedby="basic-addon1"/>
                                            <input id="deviceId" type="hidden" th:field="*{deviceId}" />
                                        </div>
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            </table>
            </div>
        </div>
    </body>

</html>
