<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Top</title>
    </head>
    <body>
        <div th:fragment="topFragment" >
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/home">Bucket</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/solutions">Solutions</a></li>
                        <li><a href="/solutions/devices">Devices</a></li>
                        <li><a href="/devices/sensors">Sensors</a></li>
                        <li><a href="/sensors/captures">Captures</a></li>
                    </ul>
                    <div class="navbar-header navbar-right">
                        <span class="sr-only" id="sr-logout" >(logout)</span>
                        <a class="navbar-brand" href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
                    </div>
                </div>
            </nav>

        </div>
    </body>
</html>
