<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <title>Hello rest.js</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
        <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>

    </head>
    <body>

        <center>
            <img src="/banner.jpg" width="80%" height="100px" />
            </center>
        <center>
            Hello, Welcome to the template page

        </center>
        <center>
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Id</th>
                <th>Device Id</th>
                <th>Capture date</th>
                <th>Value</th>
            </tr>
            <tr th:each="singleCapture : ${captures}">
                <td><p th:text="${singleCapture.id}" /></td>
                <td><p th:text="${singleCapture.deviceId}" /></td>
                <td><p th:text="${singleCapture.captureDate}" /></td>
                <td><p th:text="${singleCapture.value}" /></td>
            </tr>

            </thead>
        </table>
</center>
    </body>
</html>

