<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>:: Captures</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">IoT Repository</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="/solutions">Solutions</a></li>
                    <li><a href="/things">Devices</a></li>
                    <li><a href="#">Sensors</a></li>
                    <li><a href="#">Captures</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
            </div>
        </nav>

        <center>
        <table token="example" class="display" cellspacing="0" width="80%">
            <thead>
            <tr>
                <th>Id</th>
                <th>Save Date</th>
                <th>Capture date</th>
                <th>Capture Type</th>
                <th>Value</th>
            </tr>
            <tr th:each="singleCapture : ${captures}">
                <td><p th:text="${singleCapture.id}" /></td>
                <td><p th:text="${singleCapture.saveDate}" /></td>
                <td><p th:text="${singleCapture.captureDate}" /></td>
                <td><p th:text="${singleCapture.captureTypeName}" /></td>
                <td><p th:text="${singleCapture.value}" /></td>
            </tr>

            </thead>
        </table>
    </center>
        <!--form action="#" th:action="@{'/things/' + ${singleCapture.deviceId} + '/captures'}" th:object="${capture}" method="post">
            <div class="container-fluid" style="width:50%">
                <table token="submit" class="display" cellspacing="0">
                    <tbody>
                    <tr>
                        <td>
                            <p> Add thing: </p>
                        </td>
                        <td>
                            <p> Name <input type="text" th:field="*{name}"/> <input type="submit"/></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form-->

    </body>
</html>
