<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <title>Hello rest.js</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
        <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>
    <body>

        <center>
            <img src="/banner.jpg" width="80%" height="100px" />
            </center>
        <center>
            Hello, Welcome to the template page
        </center>

            <form action="#" th:action="@{/devices/saveEdit}" th:object="${device}" method="post">
                <div class="container-fluid" style="width:50%">
                <table token="submit" class="display" cellspacing="0">
                    <tbody>
                    <tr>
                        <td>
                            <p> Edit Device: </p>
                        </td>

                        <td>
                            <p> <input type="hidden" th:field="*{id}" /> </p>
                        </td>

                        <td>
                            <p> Name <input type="text" th:field="*{name}" /> <input type="submit" /> </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </form>


    </body>
</html>

