<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/mainLayout" >
<head>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <title>Home</title>
</head>
<body>
    <div layout:fragment="content" >
        <div style="padding:10px">
        </div>
        <div>
            <div style="text-align:center">
                <img class="img-responsive" src="img/MainFlow.png"/>
            </div>
        </div>
    </div>
</body>
</html>

