<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello rest.js</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">IoT Repository</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#">Solutions</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </div>
    </nav>

    <div style="padding:10px">
    </div>
    <div>
    <table width="100%">
        <tr>
            <td width="10%">
                <div th:include="menu/menuFragment :: menuFragment"></div>
            </td>
            <td width="90%">
                <div class="container-fluid" style="width:50%">

                    <table token="example" class="table table-bordered table-striped" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Delete</th>
                            <th>Edit</th>
                            <th>Id</th>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="singleDevice : ${devices}">
                            <td><a th:href="@{'/devices/delete/'+ ${singleDevice.id}}"><i class="fa fa-trash-o fa-fw"></i></a>
                            </td>
                            <td><a th:href="@{'/devices/edit/'+ ${singleDevice.id}}"><i class="fa fa-pencil fa-fw"></i></a>
                            </td>
                            <td><p th:text="${singleDevice.id}"/></td>
                            <td><p th:text="${singleDevice.name}"/></td>
                        </tr>
                        </tbody>
                    </table>

                </div>

                <form action="#" th:action="@{/devices}" th:object="${device}" method="post">
                    <div class="container-fluid" style="width:50%">
                        <div class="panel panel-default">
                            <div class="panel-heading">Create Device</div>
                            <div class="panel-body">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Name</span>
                                    <input type="text" class="form-control" th:field="*{name}" placeholder="Name" aria-describedby="basic-addon1"/>
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
    </table>
    </div >

</body>
</html>

